body
{
  color:black;
  font-size: 12px;
  font-family: "Century Gothic";
  height: 900px;
  background-color:#000000;

}

h3
{
  font-size; 20px;
}


#menu
{
  float:right;
  margin-top: 10px;
  margin-right: 20px;
}

#header
{

}

#footer
{
  background-color:#000000;
  border-top:dotted;
  border-color:#FFFFFF;
  height: 70px;
  text-align:center;
  padding: 20px;
}

#start_text
{
  margin-left: 10px;
  margin-top: 0px;
}

#start_img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#calendar{
  background-color:#000000;
  height: 400px;
}

#datepicker
{
  float:right;
  margin-right: 20px;
  margin-top: -10px;
}

div.ui-datepicker
{
 font-size:10px;
}


#form{
  padding: 20px;
  background-color:#000000;
  height: 400px;
  color:#FFFFFF;
  font-family: "Dadhand";
  text-align:center;
  font-size: 16px;
}

#save
{
  width: 50px;
  height: 25px;
  color:#121212;
  background-color:#E1E4A9;
  border-color:#333333;
  border-style:solid;
  border-width:thin;
  font-family:Dadhand;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-left: 5px;
}

#save:hover
{
  background-color:#121212;
  border-color:#212121;
  border-style:solid;
  border-width:thin;
  color:#E1E4A9;
}

#addText, #adDate
{
  -moz-border-radius: 3px;
  border-radius: 3px;
} 

#formAdd
{
  marign-left: 400px;
}

#formerror
{
  color:#CD0A0A;
}

#smalltext
{
  font-size: 14px;
}

#add
{
  display:none;
}

#start
{
  display:none;
}

#logout, #login, #start, #add
{
  font-family: "Dadhand";
  color:#FFFFFF;
  font-size: 16px;
  padding: 3px 3px 3px 3px;
}

img
{
  border:none;
}

.postit
{
  width: 150px;
  height: 150px;
  background-image:url('../image/postit_rak.png');
  
  
}

#note 
{
  padding-top: 10px;
  padding-left: 25px;
  /*-moz-transform: rotate(-7deg); */
}

#heading 
{
  padding-top: 30px;
  padding-left: 17px;
  font-weight:bold; 
  /*-moz-transform: rotate(-7deg); */
}


#delete_img
{
  float:right;
  margin-right: 20px;
  margin-top: 10px;
}

#edit
{
  float:right;
  margin-right: 20px;
  padding-top: 15px;

  font-family: "Dadhand";
 -moz-transform: rotate(-20deg); 
}

#events
{
  width: 500px;
}

#hidden
{
  display:none;
}
